<div class="row">
  <div class="col-md-5">
    <li><%= question.content %></li>
    <% answers= '' %>
    <% if question.meta.length!=0 %>
        <% objArray = ActiveSupport::JSON.decode(question.meta) %>
        <% i=0 %>
        <% objArray.each do |k, v| %>
            <% if question.option==4 %>
                <% answers+= '<li style="list-style-type: none;">' %>
                <% answers+= 'Min value ' if i==0 %>
                <% answers+= 'Max value ' if i==1 %>
                <% answers+= 'By default ' if i==2 %>
            <% else %>
                <% answers+= '<li>' %>
            <% end %>
            <% answers+=v['content']+'</li>' %>
            <% i+=1 %>
        <% end %>
    <% end %>
    <% answers=answers.html_safe%>
    <% if question.option==1 %>
        <ul><%= answers %></ul>
    <% else %>
        <ol><%= answers %></ol>
    <% end %>
  </div>

  <div class="col-md-7 respond">
    <% fa=find_responds_by_survey_and_question(@survey.id, question.id) %>
    <% fa.each do |f| %>
        <% objArray = ActiveSupport::JSON.decode(f.content) %>
        <% objArray.each do |k, v| %>
            <div class="col-md-3 text-left">
              <%= v['content'] %>
            </div>
            <div class="col-md-9 text-left">
              <%= find_user(f.user_id).email %>
            </div>
        <% end %>
    <% end %>
  </div>

</div>
<hr style="border-color: black;">