<div class='QuestionBlock'>
  <%= q.label 'Question' %><br/>
  <%= q.text_field :content, class: 'question' %>
  <% question_index = q.options[:child_index].to_s %>
  <%= link_to 'Remove', question_destroy_path(q.object.id), confirm: 'Are you sure?',
              method: :delete, remote: true, class: 'remove_item', id: "remove_question_#{question_index}" %>
  <br/>
  <%= q.select :option, options_for_select(question_types, selected: q.object.option), {}, {class: 'question_type'} %>
  <div class='answers'>
    <ol>
      <% if q.object.meta.length!=0 %>
          <% i = 0 %>
          <% @obj_array[q.options[:child_index]].each do |k, v| %>
              <li>
                <% if q.object.option != question_types[:'Slider'] %>
                    <%= q.label 'Answer' %>
                    <%= q.text_field :meta, value: v['content'], name: "survey[questions_attributes][#{question_index}][answers_attributes][#{i.to_s}][content]",
                                     class: 'answer', id: "sqa_#{question_index}_a_#{i.to_s}" %>
                    <%= link_to 'Remove', '#', class: 'remove_item', id: "remove_answer_#{question_index}_#{i.to_s}" %>
                <% else %>
                    <%= render 'questions/question_slider_edit', q: q, i: i, v: v %>
                <% end %>
              </li>
              <% i += 1 %>
          <% end %>
          <% if q.object.option == question_types[:'Slider'] %>
              <%= link_to 'Remove', '#', class: 'remove_item', id: "remove_answer_#{question_index}_#{i.to_s}" %>
          <% end %>
      <% end %>
    </ol>
  </div>
  <%= link_to 'Add answer', '#', class: 'add_answer' %>
</div>
