<h1 class="text-center">Creating new respond</h1>

<%= form_for @respond do |f| %>
    <h4>
      <strong>Survey </strong>
      <%= @survey.name %>
    </h4>
    <hr class="hr_black">
    <ol>
      <%= f.fields_for :questions do |q| %>
          <% j = 0 %>
          <% @survey.questions.each do |question| %>
              <li>
                <%= q.hidden_field "#{j.to_s}][id", value: question.id %>
                <%= q.hidden_field "#{j.to_s}][survey", value: @survey.id %>
                <%= q.label question.content %><br/>
                <ul>
                  <% if question.meta.length != 0 && question.option != question_types[:'Text'] &&
                      question.option != question_types[:'Slider'] %>
                      <%= render 'responds/answer_radio_or_check_new', q: q, j: j, question: question %>
                  <% elsif question.option == question_types[:'Text'] %>
                      <%= render 'responds/answer_text_new', q: q, j: j %>
                  <% elsif question.option == question_types[:'Slider'] %>
                      <%= render 'responds/answer_slider_new', q: q, j: j %>
                  <% end %>
                </ul>
              </li>
              <% j += 1 %>
          <% end %>
      <% end %>
    </ol>
    <p><%= f.submit 'Submit', class: 'respond_submit btn btn-primary action_button' %></p>
<% end %>

<%= link_to 'Back', :back, class: 'btn btn-danger action_button' %>