<h1 class="text-center">Creating new respond</h1>

<%= form_for @respond do |f| %>
    <h4>
      <strong>Survey </strong>
      <%= @survey.name %>
    </h4>
    <hr class="hr_black">
    <ol>
      <%= f.fields_for :questions do |q| %>
          <% j = 0 %>
          <% @survey.questions.each do |question| %>
              <li>
                <%= q.hidden_field "#{j.to_s}][id", value: question.id %>
                <%= q.hidden_field "#{j.to_s}][survey", value: @survey.id %>
                <%= q.label question.content %><br/>
                <ul>
                  <% if question.meta.length != 0 && question.option != question_types[:'Text'] &&
                      question.option != question_types[:'Slider'] %>
                      <% i = 0 if question.option == question_types[:'Checkbox'] %>
                      <% @obj_array[j].each do |k, v| %>
                          <li class="li_without_marker">
                            <% if question.option == question_types[:'Radio'] %>
                                <%= q.radio_button "#{j.to_s}][reply][0][content", v['content'], required: 'required',
                                                   id: "radio#{v['content']}" %>
                            <% elsif question.option == question_types[:'Checkbox'] %>
                                <%= q.check_box "#{j.to_s}][reply][#{i.to_s}][content", {id: 'checkbox'},
                                                v['content'], nil %>
                            <% end %>
                            <%= v['content'] %>
                          </li>
                          <% i += 1 if question.option == question_types[:'Checkbox'] %>
                      <% end %>
                  <% elsif question.option == question_types[:'Text'] %>
                      <li class="li_without_marker">
                        <%= q.text_field "#{j.to_s}][reply][0][content", required: 'required' %>
                      </li>
                  <% elsif question.option == question_types[:'Slider'] %>
                      <div id="slider">
                        <input type="hidden" id="slider-input" data-min="<%= @obj_array[j]['0']['content'] %>"
                               data-def="<%= @obj_array[j]['2']['content'] %>"
                               data-max="<%= @obj_array[j]['1']['content'] %>">
                        <%= q.text_field "#{j.to_s}][reply][0][content", readonly: true, id: 'amount' %>
                        <%= content_tag(:div, nil, id: 'slider-range') %>
                      </div>
                  <% end %>
                </ul>
              </li>
              <% j += 1 %>
          <% end %>
      <% end %>
    </ol>
    <p><%= f.submit 'Submit', class: 'respond_submit btn btn-primary action_button' %></p>
<% end %>

<%= link_to 'Back', :back, class: 'btn btn-danger action_button' %>