<%= form_for @survey do |f| %>

    <p>
      <%= f.label :name, "Survey name" %><br/>
      <%= f.text_field :name %>
    </p>
    <ol>
      <%= f.fields_for :questions do |q| %>
          <div class="QQQ">
            <%= q.label "Question" %><br/>
            <%= q.text_field :content, class: 'question' %>
            <%= link_to "Remove", question_destroy_path(q.object.id, :r => @survey.id), confirm: 'Are you sure?',
                        method: :delete, remote: true, class: "remove_item" %>
            <br/>
            <%= q.select :option, options_for_select(options, :selected => q.object.option), {}, {class: 'question_type'} %>
            <div class="answers">
              <ol>
                <% if q.object.meta.length!=0 %>
                    <% objArray = ActiveSupport::JSON.decode(q.object.meta) %>
                    <% i=0 %>
                    <% objArray.each do |k, v| %>
                        <li>
                          <% if q.object.option!=4 %>
                              <%= q.label "Answer" %>
                          <% elsif i==0 %>
                              <%= q.label "Min value" %>
                          <% elsif i==1 %>
                              <%= q.label "Max value" %>
                          <% elsif i==2 %>
                              <%= q.label "By default" %>
                          <% end %>
                          <% if q.object.option==4 %>
                              <% input_class='answer slider' %>
                          <% else %>
                              <% input_class='answer' %>
                          <% end %>
                          <%= q.text_field :meta, :value => v["content"], :name => 'survey[questions_attributes]['+
                              q.options[:child_index].to_s+'][answers_attributes][' +i.to_s+'][content]', class: input_class %>
                          <%= link_to "Remove", "#", class: "remove_item" %>
                        </li>
                        <% i+=1 %>
                    <% end %>
                <% end %>
              </ol>
            </div>
            <%= link_to "Add answer", "#", class: "add_answer" %>
          </div>
      <% end %>
      <%= link_to "Add Question", "#", class: "add_question" %>
    </ol>
    <p><%= f.submit "Submit", class: "survey_submit btn btn-primary" %></p>
<% end %>

<%= link_to "Back", :back %>