<h1 class="text-center">Creating new survey</h1>

<%= form_for @survey do |f| %>

    <p>
      <%= f.label :name, 'Survey name' %><br/>
      <%= f.text_field :name, required: 'required' %>
    </p>
    <div class="row">
      <div class="col-md-6">
        <ol class="new_question" id="questions_start">
          <%= link_to 'Add Question', '#', class: 'add_question' %>
        </ol>
      </div>
      <div id="d" class="col-md-6">
        <%= render 'surveys/emails_dates_edit', f: f %>
      </div>
    </div>
    <p>
      <%= f.submit 'Submit', class: 'survey_submit btn btn-primary action_button' %>
    </p>

<% end %>
<%= link_to 'Back', :back, class: 'btn btn-danger action_button' %>

