<%= form_for @survey do |f| %>

    <p>
      <%= f.label :name, "Survey name" %><br/>
      <%= f.text_field :name, required: 'required'%>
    </p>

    <ol class="new_question" id="questions_start">
        <%= link_to "Add Question", "#", class: "add_question" %>

    </ol>
    <p><%= f.submit 'Submit', class: 'survey_submit btn btn-primary' %></p>

<% end %>


