<% if (current_user.admin? || @survey.user_id==current_user.id)&&(!@survey.nil?) %>
    <h1 class="text-center">Survey page</h1>
    <div class="row">
      <div class="col-md-5">
        <h4>
          <strong>Survey </strong>
          <%= @survey.name %>
        </h4>
      </div>
      <div class="col-md-7 text-center">
        <h4>
          <strong>Respond </strong>
        </h4>
      </div>
    </div>
    <hr style="border-color: black;">
    <ol>
      <% for question in @survey.questions %>
          <%= render 'questions/question_show', question: question %>
      <% end %>
    </ol>
    <div class="row">

      <div class="col-md-6">
        <h4>Emails:</h4>
        <% @emails.each do |email| %>
            <p class="survey_extra_info"><%= email[:address] %></p>
        <% end %>
      </div>
      <div class="col-md-6">
        <h4>Dates:</h4>

        <p class="survey_extra_info">Start date <%= @survey.start_date %></p>

        <p class="survey_extra_info">Send date <%= @survey.send_date %></p>

        <p class="survey_extra_info">Expiration date <%= @survey.exp_date %></p>
      </div>
    </div>
    <p>
      <%= link_to 'Send', send_survey_mail_path(@survey), class: 'btn btn-primary', style: 'width: 80px' %>
      <%= link_to 'Answer', new_respond_path(survey: @survey), class: 'btn btn-primary', style: 'width: 80px' %>
      <%= link_to 'Edit', edit_survey_path(@survey), class: 'btn btn-primary', style: 'width: 80px' %>
      <%= link_to 'Destroy', @survey, confirm: 'Are you sure?', method: :delete, class: 'btn btn-primary' %>
      <%= link_to 'View All', surveys_path, class: 'btn btn-primary' %>
    </p>
    <%= link_to 'Back', :back %>
<% else %>
    <h1 class="text-center">You can't see this survey!</h1>
<% end %>