<div class="row text-right">
  <div class="col-md-9">
  </div>

  <div class="col-md-2">
    <div class="btn-group">

      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        <% if user_signed_in? %>
            <%= truncate(current_user.email, length: 20) %>
        <% else %>
            Login
        <% end %>
        <span class="caret"></span>
      </button>

      <ul class="dropdown-menu" role="menu">
        <% if user_signed_in? %>
            <% if current_user.admin? %>
                <li><%= link_to 'User management', admin_users_path %></li>
                <li><%= link_to 'Surveys', surveys_index_path %></li>
                <li><%= link_to 'Newsletters status', '#' %></li>
            <% else %>
                <li><%= link_to 'My surveys', surveys_index_path %></li>
            <% end %>
            <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
        <% else %>
            <li><%= link_to 'Sign in', new_user_session_path %></li>
            <li><%= link_to 'Sign up', new_user_registration_path %></li>
        <% end %>
      </ul>

    </div>
  </div>

  <div class="col-md-1">
  </div>

</div>